interdoc-ws/interdoc-ws-api/src/main/resources/wsdl/CSVQueryDocumentMtomWs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CSVQueryDocumentMtomWsService" targetNamespace="http://impl.ws.interna.api.interdoc.caib.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://impl.ws.interna.api.interdoc.caib.es/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://impl.ws.interna.api.interdoc.caib.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.ws.interna.api.interdoc.caib.es/" version="1.0">
  <xs:element name="csvQueryDocument" type="tns:csvQueryDocument"/>
  <xs:element name="csvQueryDocumentResponse" type="tns:csvQueryDocumentResponse"/>
  <xs:element name="csvQueryDocumentSecurity" type="tns:csvQueryDocumentSecurity"/>
  <xs:element name="csvQueryDocumentSecurityResponse" type="tns:csvQueryDocumentSecurityResponse"/>
  <xs:complexType name="csvQueryDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="csvQueryDocumentRequest" type="tns:CSVQueryDocumentRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CSVQueryDocumentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="csv" type="xs:string"/>
      <xs:element minOccurs="0" name="dir3" type="xs:string"/>
      <xs:element minOccurs="0" name="recuperacion_original" type="xs:string"/>
      <xs:element minOccurs="0" name="documento_eni" type="xs:string"/>
      <xs:element minOccurs="0" name="idEni" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CSVQueryDocumentSecurityRequest">
    <xs:complexContent>
      <xs:extension base="tns:CSVQueryDocumentRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="nif" type="xs:string"/>
          <xs:element minOccurs="0" name="tipoIdentificacion" type="xs:string"/>
          <xs:element minOccurs="0" name="ip" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="csvQueryDocumentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="csvQueryDocumentSecurity">
    <xs:sequence>
      <xs:element minOccurs="0" name="csvQueryDocumentSecurityRequest" type="tns:CSVQueryDocumentSecurityRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="csvQueryDocumentSecurityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="recuperacionOriginal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="S"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="documentoEni">
    <xs:restriction base="xs:string">
      <xs:enumeration value="S"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoIdentificacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLAVE_PERM"/>
      <xs:enumeration value="PIN24"/>
      <xs:enumeration value="DNIE"/>
      <xs:enumeration value="PF_2CA"/>
      <xs:enumeration value="PJ_2CA"/>
      <xs:enumeration value="COMPONENTESSL"/>
      <xs:enumeration value="SEDE_ELECTRONICA"/>
      <xs:enumeration value="SELLO_ORGANO"/>
      <xs:enumeration value="EMPLEADO_PUBLICO"/>
      <xs:enumeration value="ENTIDAD_NO_PERSONA_JURIDICA"/>
      <xs:enumeration value="EMPLEADO_PUBLICO_PSEUD"/>
      <xs:enumeration value="CUALIFICADO_SELLO_ENTIDAD"/>
      <xs:enumeration value="CUALIFICADO_AUTENTICACION"/>
      <xs:enumeration value="CUALIFICADO_SELLO_TIEMPO"/>
      <xs:enumeration value="REPRESENTACION_PJ"/>
      <xs:enumeration value="REPRESENTACION_ENTIDAD_SIN_PF"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="csvQueryDocumentSecurityResponse">
    <wsdl:part name="parameters" element="tns:csvQueryDocumentSecurityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="csvQueryDocument">
    <wsdl:part name="parameters" element="tns:csvQueryDocument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="csvQueryDocumentSecurity">
    <wsdl:part name="parameters" element="tns:csvQueryDocumentSecurity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="csvQueryDocumentResponse">
    <wsdl:part name="parameters" element="tns:csvQueryDocumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CSVQueryDocumentMtomWs">
    <wsdl:operation name="csvQueryDocument">
      <wsdl:input name="csvQueryDocument" message="tns:csvQueryDocument">
    </wsdl:input>
      <wsdl:output name="csvQueryDocumentResponse" message="tns:csvQueryDocumentResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="csvQueryDocumentSecurity">
      <wsdl:input name="csvQueryDocumentSecurity" message="tns:csvQueryDocumentSecurity">
    </wsdl:input>
      <wsdl:output name="csvQueryDocumentSecurityResponse" message="tns:csvQueryDocumentSecurityResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CSVQueryDocumentMtomWsServiceSoapBinding" type="tns:CSVQueryDocumentMtomWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="csvQueryDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="csvQueryDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="csvQueryDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="csvQueryDocumentSecurity">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="csvQueryDocumentSecurity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="csvQueryDocumentSecurityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSVQueryDocumentMtomWsService">
    <wsdl:port name="CSVQueryDocumentMtomWs" binding="tns:CSVQueryDocumentMtomWsServiceSoapBinding">
      <soap:address location="http://localhost:8280/interdoc-ws-server/CSVQueryDocumentMtomWsService/CSVQueryDocumentMtomWs"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
