interdoc-ws/interdoc-ws-api/src/main/resources/wsdl/ObtenerReferenciaWs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ObtenerReferenciaWsService" targetNamespace="http://impl.ws.interdoc.caib.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://impl.ws.interdoc.caib.es/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://impl.ws.interdoc.caib.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.ws.interdoc.caib.es/" version="1.0">
  <xs:element name="creaReferencia" type="tns:creaReferencia"/>
  <xs:element name="creaReferenciaResponse" type="tns:creaReferenciaResponse"/>
  <xs:element name="descarregarDocument" type="tns:descarregarDocument"/>
  <xs:element name="descarregarDocumentResponse" type="tns:descarregarDocumentResponse"/>
  <xs:element name="echo" type="tns:echo"/>
  <xs:element name="echoResponse" type="tns:echoResponse"/>
  <xs:element name="getVersionWs" type="tns:getVersionWs"/>
  <xs:element name="getVersionWsResponse" type="tns:getVersionWsResponse"/>
  <xs:complexType name="creaReferencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="obtenerReferenciaRequest" type="tns:obtenerReferenciaRequestInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerReferenciaRequestInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="aplicacioId" type="xs:string"/>
      <xs:element minOccurs="0" name="csv" type="xs:string"/>
      <xs:element minOccurs="0" name="document" type="tns:fitxer"/>
      <xs:element minOccurs="0" name="emisor" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="interessats" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="metadades" nillable="true" type="tns:metadada"/>
      <xs:element minOccurs="0" name="receptor" type="xs:string"/>
      <xs:element minOccurs="0" name="uuid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fitxer">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="descripcio" type="xs:string"/>
      <xs:element minOccurs="0" name="mime" type="xs:string"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
      <xs:element name="tamany" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metadada">
    <xs:sequence>
      <xs:element minOccurs="0" name="clau" type="xs:string"/>
      <xs:element minOccurs="0" name="tipus" type="xs:string"/>
      <xs:element minOccurs="0" name="valor" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="creaReferenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descarregarDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="referencia" type="xs:string"/>
      <xs:element minOccurs="0" name="usuari" type="xs:string"/>
      <xs:element minOccurs="0" name="clau" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descarregarDocumentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:fitxer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="echo">
    <xs:sequence>
      <xs:element minOccurs="0" name="echo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="echoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getVersionWs">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getVersionWsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="creaReferencia">
    <wsdl:part name="parameters" element="tns:creaReferencia">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWs">
    <wsdl:part name="parameters" element="tns:getVersionWs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWsResponse">
    <wsdl:part name="parameters" element="tns:getVersionWsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="descarregarDocument">
    <wsdl:part name="parameters" element="tns:descarregarDocument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part name="parameters" element="tns:echoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creaReferenciaResponse">
    <wsdl:part name="parameters" element="tns:creaReferenciaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo">
    <wsdl:part name="parameters" element="tns:echo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="descarregarDocumentResponse">
    <wsdl:part name="parameters" element="tns:descarregarDocumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ObtenerReferenciaWs">
    <wsdl:operation name="creaReferencia">
      <wsdl:input name="creaReferencia" message="tns:creaReferencia">
    </wsdl:input>
      <wsdl:output name="creaReferenciaResponse" message="tns:creaReferenciaResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="descarregarDocument">
      <wsdl:input name="descarregarDocument" message="tns:descarregarDocument">
    </wsdl:input>
      <wsdl:output name="descarregarDocumentResponse" message="tns:descarregarDocumentResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <wsdl:input name="echo" message="tns:echo">
    </wsdl:input>
      <wsdl:output name="echoResponse" message="tns:echoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <wsdl:input name="getVersionWs" message="tns:getVersionWs">
    </wsdl:input>
      <wsdl:output name="getVersionWsResponse" message="tns:getVersionWsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ObtenerReferenciaWsServiceSoapBinding" type="tns:ObtenerReferenciaWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="creaReferencia">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="creaReferencia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creaReferenciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="descarregarDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="descarregarDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="descarregarDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVersionWs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVersionWsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObtenerReferenciaWsService">
    <wsdl:port name="ObtenerReferenciaWs" binding="tns:ObtenerReferenciaWsServiceSoapBinding">
      <soap:address location="http://localhost:8280/interdoc-ws-server/ObtenerReferenciaWsService/ObtenerReferenciaWs"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
